@model List<Order>

<table class="table sticky-table">
    <thead>
        <tr>
            <th class="th-header">
                Название
            </th>
            <th class="th-header">
                Стоимость
            </th>
            <th class="th-header">
                Адрес доставки
            </th>
            <th class="th-header">

            <th class="th-header">

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Order order in Model)
        {
            <tr class="table-row">
                <th style="vertical-align: middle;">
                    <p>
                        @order.Book.Name
                    </p>
                </th>
                <th style="vertical-align: middle;">
                    @order.FinishPrice
                </th>
                <th style="vertical-align: middle;">
                    @order.Address
                </th>
                <th style="vertical-align: middle;">
                    <form method="post" asp-action="accept" asp-controller="Order">
                        <input type="hidden" value="@order.Id" name="orderId" />
                        <input type="submit" value="Подтвердить" />
                    </form>
                </th>
                <th style="vertical-align: middle;">
                    <form method="post" asp-action="reject" asp-controller="Order">
                        <input type="hidden" value="@order.Id" name="orderId" />
                        <input type="submit" value="Отклонить" />
                    </form>
                </th>
            </tr>
        }
    </tbody>
</table>