@model List<Customer>

<p>
    Список пользователей
</p>

<table class="table sticky-table">
    <thead>
        <tr>
            <th class="th-header">
                №
            </th>
            <th class="th-header">
                Имя
            </th>
            <th class="th-header">
                Фамилия
            </th>
            <th class="th-header">
                E-mail
            </th>
            <th class="th-header">
                Role
            </th>
            <th class="th-header">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Customer customer in Model)
        {
        <tr class="table-row">
            <th style="vertical-align: middle;">
                @customer.UserId
            </th>
            <th style="vertical-align: middle;">
                @customer.Name
            </th>
            <th style="vertical-align: middle;">
                @customer.SurName
            </th>
            <th style="vertical-align: middle;">
                @customer.Email
            </th>
            <th style="vertical-align: middle;">
                @customer.UserRole.Name
            </th>
            @if (customer.UserRole.Id == 0)
            {
                <th style="vertical-align: middle;">
                    <form asp-action="change-role" method="post">
                        <input name="Id" value="@customer.UserId" hidden/>
                        <input name="RoleId" value="1" hidden/>
                        <button type="submit">Change to Admin</button>
                    </form>
                </th>
            }
        </tr>
        }
    </tbody>
</table>